{% extends 'base.html' %}
{% block title %} {{ group.title }} {% endblock %}
      {% block content %}    
        <div class="container py-5">
          <h1> {{ text }} </h1>
          <p>
            Группа тайных поклонников графа.
          </p>
            <article>
              <h1> TEXT </h1>
              {# ниже начинаются проблемы #}
            {% for post in posts %}
                <ul>
                  <li>
                    Автор: {{ post.author.get_full_name }}
                  </li>
                  <li>
                    Дата публикации: {{ post.pub_date|date:"d E Y" }}
                    
                  </li>
                </ul>      
                <p>
                  {{ post.text }}
                </p>
                {# {% if post.group %} #}  
                {#  <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a> #}
                {# {% endif %} #}
               <a href="">все записи группы</a>
                {% if not forloop.last %} <hr> {% endif %}
            {% endfor %}
            </article>
            <!-- под последним постом нет линии --> 
        {% endblock %}
      </div>  
